@import 'settings';
@import 'tools';
@import 'resets';
@import 'base';
@import 'objects';
@import 'components';
@import 'utilities';

code:not([class*='language-']) {
  padding: 0 4px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  color: #cf3261;
  border-radius: 2px;
}

pre > code {
  border: none;
}

hr {
  border: 0;
  height: 1px;
  background-color: $nb-color-grey-light;
}

.c-markdown pre[class*="language-"] {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.c-article {
  h1,
  h2,
  h3,
  h4 {
    margin-top: $nb-spacing-unit-double;
  }
}

.c-article > *:first-child {
  margin-top: 0;
}

.c-sidebar {
  background-color: $nb-color-white;
  overflow: auto;
  border-right: 1px solid $nb-color-base-border;

  @include nb-respond-to('sm') {
    height: calc(100vh - #{$nb-navbar-height-collapsed});
  }

  @include nb-respond-to('nav') {
    height: calc(100vh - #{$nb-navbar-height});
  }
}

.c-api-main-content {
  @include nb-respond-to('sm') {
    height: calc(100vh - #{$nb-navbar-height-collapsed});
    overflow: auto;
  }

  @include nb-respond-to('nav') {
    height: calc(100vh - #{$nb-navbar-height});
  }

  @include nb-respond-to('max-sm') {
    padding-left: $nb-spacing-unit;
  }
}

.c-api-main-content__inner {
  max-width: 1200px;
  padding-right: 1rem;
}
